<div class='country-info__wrap'><img
    class='country-info__flag'
    src='{{flag}}'
    alt=''
    height='30'
  />
  <p class='country-info__title'>{{name}}</p></div>
<p class='country-info__subtitle'>Capital:
  <span class='country-info__text'>{{capital}}</span></p>
<p class='country-info__subtitle'>Population:
  <span class='country-info__text'>{{population}}</span></p>
<p class='country-info__subtitle'>Languages:
  <span class='country-info__text'>{{languages}}</span></p>

{{!-- {{#each languages}} 
		{{this}}{{#unles @last}}, {{/unless}}
		{{/each}} --}}